*{
    box-sizing: border-box;
  } 
  
  body {
    background: #E9C46A fixed;
  }

#title {
  background-color: #e76f51;
  font-style: oblique;
  font-size: 50pt;
  text-align: center;

}

h1{
  font-style: oblique;
}

  
  main{
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* keeps results to left of pictures */
  main > *{
    float:left;
  }
  
  main > :nth-child(odd){
    width:25%
  }
   
  
#pics img {
  
    width: 100px;
    height: 100px;
    margin: 5px; /*space between photos */
    float: left;
  }
  
  #results {
    background-color: #264653 ;
    color:#f4a261;
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;
    font-style: oblique;
    
  }

  #para{
    background-color: #e76f51;
    color:#264653;
    font-size: 1.2em;
    font-style: oblique;
    padding: 100px;
  }

  
  footer {
    background: #264653;
    width: 100%;
    height: 50px;
    clear:  both;
    position: absolute;
  }
  footer div {
    background-color: #2a9d8f;
    color: whitesmoke;
    max-width: 900px;
    margin: 0 auto;
  }
  
  /*section div {
    padding: 7px;
    box-sizing: border-box;
    float: left;
    width: 50%;
  } */ 